.container {
    width: 100vw;
    height: auto;
    max-width: 70rem;
    margin: 0 auto;

}

.feature {
    display: flex;
    align-items: center;
    padding: 2rem 0;
}

.feature-image {
    max-width: 50%;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quote {
    font-size: 1.5rem;
    font-style: italic;
    color: #333;
}

.quote cite {
    display: block;
    margin-top: 1rem;
    font-size: 2rem;
    text-align: right;
    color: #666;
}


@media only screen and (max-width: 768px) {

    .feature {
        flex-direction: column;
    }

    .feature-image {
        max-width: 90%;
        order: 1;
    }

    .quote {
        font-size: 1rem;
        order: 2;
    }
}